@model MvcPresentationLayer.Models.UserModel.UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
}
@*<h1>@ViewData["Title"]</h1>*@

<div class="profile-images">
    <img src="~/covers/@{
                        @Model.CoverImageFileLocation
}" class="cover-photo" />
    <img src="~/avatars/@{
                            @Model.AvatarImageFileLocation
}" class="profile-icon" />
</div>

@*<div class="follow-btn-config">
    <button class="follow-btn">Follow</button>
</div>*@
<div class="profile-container">

    <div class="profile-info">
        <div class="profile-name">@Model.Nickname</div>

        <div class="profile-about">
            <h5>About me:</h5>
            <hr />
            <p class="about">@Model.About</p>
        </div>
    </div>

    @*<button class="msg-btn">Message</button>*@

    <div class="profile-favorites">

        <div class="btn-config">
            <button class="alternate-btn profile-manga-btn">Manga</button>
            <button class="alternate-btn profile-anime-btn">Anime</button>
        </div>
        <div class="show">

            <div class="profile-manga-show active">
                @{
                    foreach (var item in Model.MangaList)
                    {
                        <a href="/Manga/MangaOnPage/@item.Manga.Id">
                            <li>
                                <img src="@item.Manga.PosterImageLink">
                                <span class="Profile-manga-name">@item.Manga.CanonicalTitle</span>
                            </li>
                        </a>

                    }
                }
            </div>
            <div class="profile-anime-show">
                @{
                    foreach (var item in Model.AnimeList)
                    {
                        <a href="/Anime/MangaOnPage/@item.Anime.Id">
                            <li>
                                <img src="@item.Anime.AnimePosterImage">
                                <span class="Profile-manga-name">@item.Anime.canonicalTitle</span>
                            </li>
                        </a>

                    }
                }
            </div>
        </div>
    </div>

    <div class="profile-geral-list">
        <div class="display-list">
            <div>
                <a class="dp-list-card" href="/Manga/MangaOnPage/38">
                    <li>
                        <img src="https://media.kitsu.io/manga/38/poster_image/cf836629b0dde8c350666fdde6ed15cf.jpg " />
                        <span>One Piece</span>
                    </li>
                </a>
            </div>
            <div>
                <a class="dp-list-card" href="/Manga/MangaOnPage/38">
                    <li>
                        <img src="https://media.kitsu.io/manga/38/poster_image/cf836629b0dde8c350666fdde6ed15cf.jpg " />
                        <span>One Piece</span>
                    </li>
                </a>
            </div>
            <div>
                <a class="dp-list-card" href="/Manga/MangaOnPage/38">
                    <li>
                        <img src="https://media.kitsu.io/manga/38/poster_image/cf836629b0dde8c350666fdde6ed15cf.jpg " />
                        <span>One Piece</span>
                    </li>
                </a>
            </div><div>
                <a class="dp-list-card" href="/Manga/MangaOnPage/38">
                    <li>
                        <img src="https://media.kitsu.io/manga/38/poster_image/cf836629b0dde8c350666fdde6ed15cf.jpg " />
                        <span>One Piece</span>
                    </li>
                </a>
            </div>
            <div>
                <a class="dp-list-card" href="/Manga/MangaOnPage/38">
                    <li>
                        <img src="https://media.kitsu.io/manga/38/poster_image/cf836629b0dde8c350666fdde6ed15cf.jpg " />
                        <span>One Piece</span>
                    </li>
                </a>
            </div>
            <div>
                <a class="dp-list-card" href="/Manga/MangaOnPage/38">
                    <li>
                        <img src="https://media.kitsu.io/manga/38/poster_image/cf836629b0dde8c350666fdde6ed15cf.jpg " />
                        <span>One Piece</span>
                    </li>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    let profileMangaShow = document.querySelector('.profile-manga-show');
    let profileAnimeShow = document.querySelector('.profile-anime-show');

    let profileMangaBtn = document.querySelector('.profile-manga-btn');
    let profileAnimeBtn = document.querySelector('.profile-anime-btn');

    profileMangaBtn.onclick = function () {
        if (profileAnimeShow.classList.contains('active')) {
            profileMangaShow.classList.toggle('active')
            profileAnimeShow.classList.toggle('active')
        }
        else {
            profileMangaShow.classList.toggle('active')
        }
    }
    profileAnimeBtn.onclick = function () {
        if (profileMangaShow.classList.contains('active')) {
            profileMangaShow.classList.toggle('active')
            profileAnimeShow.classList.toggle('active')
        }
        else {
            profileAnimeShow.classList.toggle('active')
        }
    }


</script>
