@model MvcPresentationLayer.Models.AnimeModel.AnimeItemModalViewModel

@{

    ViewData["Title"] = @Model.Anime.canonicalTitle;
    string Img = @Model.Anime.AnimeCoverImage;
    string width = "100%";
    int height = 400;
    if (Model.Anime.AnimeCoverImage == null)
    {
        //width = "25";
        //height = 400;
        Img = Model.Anime.AnimePosterImage;
    }
}


<div class="row" id="Banner">
    <!-- Background image -->
    <img class="" width="@width" height="@height" src="@Img" alt="Background image">
</div>
<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h2 class="fw-light">@Model.Anime.canonicalTitle</h2>
        <h5>Synopsis:</h5>
        <p>@Model.Anime.synopsis</p>
    </div>

    <div class="form-group">
        <div class="card-item">
            <a class="custom-link" href="/Anime/UserFavorite/@Model.Anime.Id">
                <input type="submit" value="Favoritar" class="btn btn-primary" />
            </a>
        </div>
    </div>

    <div class="div-manga-info">
        <div class="manga-info-items">
            <div class="info-type">Format:</div>
            <div class="info-result">@Model.Anime.subtype</div>
        </div>
        <div class="manga-info-items">
            <div class="info-type">Episodes:</div>
            <div class="info-result">@Model.Anime.episodeCount</div>
        </div>
        <div class="manga-info-items">
            <div class="info-type">Episode Duration:</div>
            <div class="info-result">@Model.Anime.episodeLength</div>
        </div>
        <div class="manga-info-items">
            <div class="info-type">Status:</div>
            <div class="info-result">@Model.Anime.status.ToString()</div>
        </div>
        <div class="manga-info-items">
            <div class="info-type">Start Date:</div>
            <div class="info-result">@Model.Anime.startDate</div>
        </div>
        <div class="manga-info-items">
            <div class="info-type">End Date:</div>
            <div class="info-result">@Model.Anime.endDate</div>
        </div>
        <div class="manga-info-items">
            <div class="info-type">Average Score:</div>
            <div class="info-result">@Model.Anime.averageRating</div>
        </div>
        <div class="manga-info-items">
            <div class="info-type">Popularity:</div>
            <div class="info-result">@Model.Anime.popularityRank</div>
        </div>
        <div class="manga-info-items">
            <div class="info-type">Favorites:</div>
            <div class="info-result">@Model.Anime.favoritesCount</div>
        </div>
        <div class="manga-info-items">
            <div class="info-type">Genres:</div>
            <div class="info-result">
                <ul>
                    @{
                        foreach (var item in @Model.Anime.Categories)
                        {
                            <li>
                                <p>@item.Name</p>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>



