@using Entities.Enums
@model MvcPresentationLayer.Models.AnimeModel.UserFavoriteAnimeViewModel

@{
    ViewData["Title"] = "UserFavorite";
}

<h1>UserFavorite</h1>

<h4>UserFavoriteMangaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserFavorite">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @{
                    string[] valores = Enum.GetNames<UserMangaStatus>();
                }
                <select class="form-control" name="Status">
                    @for(int i = 0; i < valores.Length; i++)
                    {
                        <option value="@i">@valores[i].Replace(",","")</option>
                    }    
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishDate" class="control-label"></label>
                <input asp-for="FinishDate" class="form-control" />
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                @{
                    string[] valoresscore = Enum.GetNames<MangaScore>();
                }
                <select class="form-control" name="Score">
                    @for(int i = 0; i < valoresscore.Length; i++)
                    {
                        <option value="@i">@valoresscore[i].Replace(",","")</option>
                    }    
                </select>
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalRereads" class="control-label"></label>
                <input asp-for="TotalRereads" class="form-control" />
                <span asp-validation-for="TotalRereads" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chapter" class="control-label"></label>
                <input asp-for="Chapter" class="form-control" />
                <span asp-validation-for="Chapter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrivateNotes" class="control-label"></label>
                <input asp-for="PrivateNotes" class="form-control" />
                <span asp-validation-for="PrivateNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicNotes" class="control-label"></label>
                <input asp-for="PublicNotes" class="form-control" />
                <span asp-validation-for="PublicNotes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Private" /> @Html.DisplayNameFor(model => model.Private)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Favorite" /> @Html.DisplayNameFor(model => model.Favorite)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Favorite" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
