@model IEnumerable<MvcPresentationLayer.Models.Manga.MangaShortDbViewModel>

@{
    ViewData["Title"] = "Manga";
}

<h1>Manga</h1>

<p>
    <a class="custom-link" asp-action="Create">Criar Novo</a>
    <a class="custom-link" asp-action="ConsumirApi">  Resetar + consumir</a>
</p>
<table class="table custom-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanonicalTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavoritesCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanonicalTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FavoritesCount)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Excluir", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
