@model MvcPresentationLayer.Models.HomePage.HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/homeStyles.css" asp-append-version="true" />

</head>
<body>

    <div class="homepage-div">
        <div class="homepage-banner">
            <div class="banner-title"><h1>AniMa List</h1></div>
            <div class="banner-phrase"><p>alguma mini frase impactante</p></div>
            <div class="banner-grid">
                <div class="banner-info col-3">
                    <div class="infos">
                        <div>
                            <img src="~/covers/mancha.png" class="banner-image">
                            <i class="uil uil-mobile-android-alt banner-icon"></i>
                        </div>
                        <div class="info-title">
                            <h5>Connect anywhere</h5>
                            <div class="description">Connect your account on any device and continue tracking your favorites animes and manga</div>
                        </div>

                    </div>
                </div>
                <div class="banner-info col-3">
                    <div class="infos">
                        <div>
                            <img src="~/covers/mancha.png" class="banner-image rotate-90">
                            <i class="uil uil-comment-alt-dots banner-icon"></i>
                        </div>
                        <div class="info-title">
                            <h5>Give your Opinion</h5>
                            <div class="description">You can comment about every manga and anime you want to!</div>
                        </div>

                    </div>
                </div><div class="banner-info col-3">
                    <div class="infos">
                        <div>
                            <img src="~/covers/mancha.png" class="banner-image rotate-180">
                            <i class="uil uil-mobile-android-alt banner-icon"></i>
                        </div>
                        <div class="info-title">
                            <h5>Título da info 1</h5>
                            <div class="description">primeira info blablabla muitas coisas escritas aqui porque eu nao sei mais a a a a a a a a a a</div>
                        </div>

                    </div>
                </div><div class="banner-info col-3">
                    <div class="infos">
                        <div>
                            <img src="~/covers/mancha.png" class="banner-image rotate-270">
                            <i class="uil uil-mobile-android-alt banner-icon"></i>
                        </div>
                        <div class="info-title">
                            <h5>Título da info 1</h5>
                            <div class="description">primeira info blablabla muitas coisas escritas aqui porque eu nao sei mais a a a a a a a a a a</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alh-div">
        <div class="alh-aam">
            <div class="catalog alh-grid" id="catalog">
                <h3 class=" section-title">Favorite Manga</h3>
                <a class="custom-link alh-va" asp-area="" asp-action="AllByFavorites" asp-controller="Manga">View All</a>
                <hr />
                <div class="alh-grid-config">
                    <div class="card-wrapper">
                        @{
                            foreach (var item in Model.MangasFavorites)
                            {
                                <div class="card-item">
                                    <a class="custom-link" href="/Manga/MangaOnPage/@item.Id">
                                        <img src=@item.PosterImageLink />
                                        <div class="card-content">
                                            @if (item.CanonicalTitle.Length > 12)
                                            {
                                                <h5>@item.CanonicalTitle.Substring(0,12)</h5>
                                            }
                                            else
                                            {
                                                <h5>@item.CanonicalTitle</h5>
                                            }
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="catalog alh-grid" id="catalog">
                <h3 class=" section-title">Favorite Animes</h3>
                <a class="custom-link alh-va" asp-area="" asp-action="AllFavorites" asp-controller="Anime">View All</a>
                <hr />
                <div class="card-wrapper">
                    @{
                        foreach (var item in Model.AnimesFavorites)
                        {
                            <div class="card-item">
                                <a class="custom-link" href="/Anime/AnimeOnPage/@item.Id">
                                    <img src=@item.AnimePosterImage />
                                    <div class="card-content">
                                         @if (item.canonicalTitle.Length > 12)
                                            {
                                                <h5>@item.canonicalTitle.Substring(0,12)</h5>
                                            }
                                            else
                                            {
                                                <h5>@item.canonicalTitle</h5>
                                            }
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="catalog alh-grid" id="catalog">
                <h3 class=" section-title">Manga by Rating</h3>
                <a class="custom-link alh-va" asp-area="" asp-action="AllByRating" asp-controller="Manga">View All</a>
                <hr />
                <div class="card-wrapper">
                    @{
                        foreach (var item in Model.MangasByRating)
                        {
                            <div class="card-item">
                                <a class="custom-link" href="/Manga/MangaOnPage/@item.Id">
                                    <img src=@item.PosterImageLink />
                                    <div class="card-content">
                                        @if (item.CanonicalTitle.Length > 12)
                                            {
                                                <h5>@item.CanonicalTitle.Substring(0,12)</h5>
                                            }
                                            else
                                            {
                                                <h5>@item.CanonicalTitle</h5>
                                            }
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="catalog alh-grid" id="catalog">
                <h3 class=" section-title">Animes by Rating</h3>
                <a class="custom-link alh-va" asp-area="" asp-action="AllFavorites" asp-controller="Anime">View All</a>
                <hr />
                <div class="card-wrapper">
                    @{
                        foreach (var item in Model.AnimesByRating)
                        {
                            <div class="card-item">
                                <a class="custom-link" href="/Anime/AnimeOnPage/@item.Id">
                                    <img src=@item.AnimePosterImage />
                                    <div class="card-content">
                                         @if (item.canonicalTitle.Length > 12)
                                            {
                                                <h5>@item.canonicalTitle.Substring(0,12)</h5>
                                            }
                                            else
                                            {
                                                <h5>@item.canonicalTitle</h5>
                                            }
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

</body>
</html>